<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://controleestoque.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>controleestoque.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ControleEstoque</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ControleEstoque</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ControleEstoqueContext" Order="1" Enabled="False">
          <Destination Path="Data Source=ailinalbertoni.database.windows.net;Initial Catalog=ControleEstoque;Integrated Security=False;User ID=ailin;Password=Mamipapi1@157304;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ControleDeEstoque.Web.DAL.ControleEstoqueContext, ControleDeEstoque.Web" MigrationConfiguration="ControleDeEstoque.Web.Migrations.Configuration, ControleDeEstoque.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ControleEstoqueContext-Web.config Connection String">
      <ParameterValue>Data Source=ailinalbertoni.database.windows.net;Initial Catalog=ControleEstoque;Integrated Security=False;User ID=ailin;Password=Mamipapi1@157304;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>