<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ailinalbertoni-001-site1.ctempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://ailinalbertoni-001-site1.ctempurl.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>ailinalbertoni-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>ifc\ailinalbertoni-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ControleEstoqueContext" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5026.Smarterasp.net;Initial Catalog=DB_9FF015_ailinalbertoni;User ID=DB_9FF015_ailinalbertoni_admin;Password=Mamipapi1@157304" Name="Data Source=SQL5026.Smarterasp.net;Initial Catalog=DB_9FF015_ailinalbertoni;User Id=DB_9FF015_ailinalbertoni_admin;Password=Mamipapi1@157304" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ControleDeEstoque.Web.DAL.ControleEstoqueContext, ControleDeEstoque.Web" MigrationConfiguration="ControleDeEstoque.Web.Migrations.Configuration, ControleDeEstoque.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ControleEstoqueContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL5026.Smarterasp.net;Initial Catalog=DB_9FF015_ailinalbertoni;User Id=DB_9FF015_ailinalbertoni_admin;Password=Mamipapi1@157304</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>