<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControleDeEstoque.Properties.Settings.ControleDeEstoqueConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=F:\Users\Producao\Documents\ControleDeEstoque\ControleDeEstoque\ControleDeEstoque.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>